body {
	background-image: url("mountains.jpg");
}

h1{
	color: black;
	border: 1px solid black;
	font-family: calibri light;
	padding: 10px;
}

.intro{
	color: black;
	font-family: calibri;
	font-size: 25px;
}

.main{
	color: black;
	font-family: calibri;
	font-size: 40px;
}

#project{
	border: 1px solid black;
	width: 300px;
	padding: 10px;
}