:root {
    --font-base: sans-serif;
	--font-size-main: 1.5rem;
	--font-size-nav: 1.6em;
    --color-link: #17a;
}

@media (prefers-color-scheme: light) {
    :root {
        --color-text: #000;
        --color-bg: #eee;
        --color-border: #000;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-text: #fff;
        --color-bg: #111;
        --color-border: #fff;
    }
}

a:hover {
    opacity: 0.5;
}

body {
	color: var(--color-text);
    background: var(--color-bg);
    font-family: var(--font-base);
}

.header {
    padding: 0 0 0 1em;

    border-bottom: 1px solid var(--color-border);
}

.header a {
	color: var(--color-link);
    text-decoration: none;
}

.nav {
	padding: 1em 0 0 0.5em;
    height: 100%;
    width: 4.5em;
    position: absolute;

	font-size: var(--font-size-nav);
    border-right: 1px solid var(--color-border);
}

.nav a {
    display: block;
	margin-bottom: 10px;

    color: inherit;
	text-decoration: none;
}

.main {
	padding: 1em 0 1em 3em;
    margin-left: 4em;
    position: absolute;

    font-size: var(--font-size-main);
}

.main a {
	color: var(--color-link);
    text-decoration: none;
}
