h1{
	color: white;
	background-color: lightblue;
	border: 1px solid black;
	font-family: calibri light;
	width: 300px;
	padding: 25px;
}

.intro{
	color: white;
	background-color: lightblue;
	border: 1px solid black;
	font-family: calibri;
	font-size: 25px;
	width: 400px;
	padding: 25px;
}

.main{
	color: grey;
	font-family: calibri;
	font-size: 15px;
}