html {
	height: 100%;
}

body {
	background-image: linear-gradient(lightblue, white);
	background-repeat: no-repeat;
}

hr {
	border-top: 1px solid black;
}

img a {
	border: 1px solid black;
}

.header {
	color: black;
	font-family: sans-serif;
}

.header a {
	text-decoration: none;
	color: #17a;
}

.nav {
	width: 100px; 
	height: 100%;
	position: fixed;
	text-align: left;
	border-right: 1px solid black;
	color: black;
	font-family: sans-serif;
	font-size: 24px;
}

.nav a {
	display: block;
	text-decoration: none;
	color: inherit;
	margin-bottom: 10px;

}

.nav a:hover, .header a:hover , img a:hover{
	opacity: 0.5;
}

.main {
	margin-left: 115px;
	color: black;
	font-family: sans-serif;
	font-size: 24px;
}