.header {
	padding-left: 1em;

	border-bottom: 1px solid black;
	color: black;
	font-family: sans-serif;
}

.header a, .main a {
	text-decoration: none;
	color: #17a;
}

.nav {
	height: 100%;
	width: 4.5em;

	padding-top: 1em;
	padding-left: 0.5em;
	position: absolute;
	
	border-right: 1px solid black;
	color: black;
	font-family: sans-serif;
	font-size: 1.6em;
}

.nav a {
	display: block;
	text-decoration: none;
	color: inherit;
	margin-bottom: 10px;
}

a:hover {
	opacity: 0.5;
}

.main {
	margin-left: 4em;
	padding-left: 3em;
	padding-top: 1em;
	padding-bottom: 1em;
	position: absolute;

	color: black;
	font-family: sans-serif;
	font-size: 24px;
}
